.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 50%;
  justify-content: space-between;
}


a {
  text-decoration: none;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  padding-left: .5rem;
  font-weight: bolder;
}


a:hover svg {
  stroke: blue;
}


a:hover div {
  color: blue;
}


